<%- include('partials/header.ejs') %>
<body>
    <div class="container mt-4">
        <div class="row">
            <% usuario.forEach(usuario => { %>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <div class="card-body p-4">
                            <p><strong>Email:</strong> <%= usuario.email %></p>
                            <p><strong>Usuário:</strong> <%= usuario.nome %></p>
                        </div>
                        <div class="card-footer d-flex justify-content-between">

                            <button class="btn btn-warning">Modificar</button>

                            <form method="post" id="formDel" action="/deletarUsuario">
                                <input type="hidden" name="idD" value="<%= usuario.id %>">
                                <button class="btn btn-danger">Apagar registro </button> 
                           </form>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>
</html>